$backgroundImg: url('../img/m-h-night.jpg');
$buttonColor: #e3ac00;
$underlineColor: #ff4e33;
$elementColor: #3b3f50;
$gradientColor1: #dea504;
$gradientColor2: #932d53;
$bodyColor: #21232e;

$text-color: (header:#ffffff, body:#e8ecf0);



