$buttonColor: #699900;
$underlineColor: #14a0c7;
$elementColor: #21232e;
$gradientColor1: #689805;
$gradientColor2: #2d5bdb;
$backgroundImg: url('../img/m-h-day.jpg');
$bodyColor: white;

$text-color: ("header":#2c2f3c, "body":#e8ecf0);

